.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar_wrapper {
  width: 100%;
  padding: 20px 300px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
.navbar_items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;

  list-style-type: none;
}
.navbar_item {
  list-style: none;
}
.navbar_item a {
  text-decoration: none;
  color: var(--primary-black);
  font-weight: 600;
}

.btns {
  display: flex;
  align-items: center;
  gap: 20px;
}
.btns button {
  width: 140px;
  height: 46px;
  left: 1460px;
  background: #6347f9;
  border-radius: 4px;
}
