.cards {
  width: 424px;
  height: 515px;
  display: flex;
  flex-direction: column;
}
.img {
  width: 424px;
  height: 350px;
  background: #d9d9d9;
  border-radius: 14px 14px 0px 0px;
}

.content {
  padding: 20px;
  width: 424px;
  height: 165px;

  background: #ffffff;
  box-shadow: 0px 6px 24px #e4e2ee;
  border-radius: 0px 0px 14px 14px;
}
.name {
  padding-top: 10px;
  align-items: center;
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 20px;
  /* or 83% */

  color: #1f3347;
}
.info {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.infos {
  margin-top: 25px;
  display: flex;
  align-items: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 12px;
  /* identical to box height, or 75% */

  color: #9da1b4;
}
.infos img {
  margin-right: 7px;
}
